/packages/
/QACDLibrary/Scripts/
/QACDLibrary/bin/
/QACDLibrary/content/
/QACDLibrary/fonts/
/QACDLibrary/obj/
/QACDLibrary/Properties/
/QACDLibrary/ApplicationInsights.config
/QACDLibrary/favicon.ico
/QACDLibrary/Global.asax
/QACDLibrary/Global.asax.cs
/QACDLibrary/packages.config
/QACDLibrary/QACDLibrary.csproj.user
/QACDLibrary/Web.config
/QACDLibrary/Web.Debug.config
/QACDLibrary/Web.Release.config
/QACDLibrary/App_Start
/QACDLibrary/Areas